
#searchbar
{
  float:top;
    width:85%;
   height:42%;
  margin:auto;
    color:white;
  text-align: center;
   
    
}
#searchbar form
{
    margin:auto;
  border-style: hidden;  
  display :inline-block;
  color:white;
 border-width:5px;
 padding-left: 40px;
 padding-top: 40px;
 padding-bottom: 40px;
 padding-right: 40px;
 
 
  
  
}
#searchbar form input[type="text"]
{
width:300px;
height:25px;
text-transform: uppercase;
}
#searchbar form input[type="submit"]
{
margin-top:10px;

padding-top:2%;
padding-bottom:2%;
padding-right:10%;
padding-left:10%;
cursor: pointer;

}
#searchbar form input[type="date"]
{
    cursor:pointer;
}
#searchresult
 {
    width:100%;
    height:58%;
    background-color:rgb(0, 247, 255);
   
 }
 #index
{
    height:12%;
    width:60%;
    background-color: #f9ff44;
    margin-left: 24%;
    margin-top: 0.5%;
    color:white;
    font-style: italic;
}
#index #image
{
height:100%;
width:13%;
background-color: rgb(59, 203, 19);
float:left;

}
#index #from
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(227, 18, 18);
}
#index #to
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(70, 18, 227);
}
#index #departure
{
    height:100%;
    width:9%;
    float:left;
    background-color: rgb(227, 77, 18);
}
#index #available
{
    height:100%;
    width:9%;
    float:left;
    background-color: rgb(18, 227, 35);
}
#index #fare
{
    height:100%;
    width:7%;
    float:left;
    background-color: rgb(227, 18, 18);
}
#index #datee
{
    height:100%;
    width:11.5%;
    float:left;
    background-color: rgb(18, 196, 227);
}
#index #bussnumber
{
    height:100%;
    width:11.5%;
    float:left;
    background-color: rgb(18, 227, 35);
}
#index #book
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(58, 12, 206);
}
#businfo
{
    height:10%;
    width:60%;
    background-color: #f9ff44;
    margin-left: 24%;
    margin-top: 0.5%;
    color:white;
}
#businfo #image
{
height:100%;
width:13%;
background-color: rgb(37, 203, 19);
float:left;

}
#businfo #from
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(227, 18, 18);
}
#businfo #to
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(70, 18, 227);
}
#businfo #departure
{
    height:100%;
    width:9%;
    float:left;
    background-color: rgb(227, 77, 18);
}
#businfo #available
{
    height:100%;
    width:9%;
    float:left;
    background-color: rgb(18, 227, 35);
}
#businfo #fare
{
    height:100%;
    width:7%;
    float:left;
    background-color: rgb(227, 18, 18);
}
#businfo #datee
{
    height:100%;
    width:11.5%;
    float:left;
    background-color: rgb(18, 196, 227);
}
#businfo #bussnumber
{
    height:100%;
    width:11.5%;
    float:left;
    background-color: rgb(18, 227, 35);
}

#businfo #book
{
    height:100%;
    width:13%;
    float:left;
    background-color: rgb(67, 18, 227);
}

#businfo input[type="text"]
{
    width: 100%;
    height:100%;
    margin:auto;
    text-transform: uppercase;
    text-align: center;
}
#businfo input[type="button"]
{
    width:100%;
    height: 100%;
}
